body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#about {
    text-align: center;
    padding: 20px;
}

#about img {
    border-radius: 50%;
    max-width: 200px;
    margin-bottom: 20px;
}

#skills {
    text-align: center;
    padding: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills li {
    display: inline-block;
    margin: 0 10px;
}

#projects {
    text-align: center;
    padding: 20px;
}

.project {
    margin-bottom: 20px;
}

#resume, #contact {
    text-align: center;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}